body{
    display: flex;
    flex-direction: column;

    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;

    padding: 20px;
    color:  rgb(71, 71, 71);
}
h1{
    margin-top: 40px;
}

#indexBtn{
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    margin: 20px;
    cursor: pointer;
}

#indexBtn:hover{
    background-color: #0e52b8;
}

#formSubmit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    margin: 20px;
    padding: 20px 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#formSubmit button{
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: rgb(243, 219, 6);
    color: rgb(61, 61, 61);

    cursor: pointer;
    transition: all 0.3s ease;
}

#formSubmit button:hover{
    background-color:rgb(197, 218, 7);
}

input, select{
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid #636363;
    margin: 5px;
}

#container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 90%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img{
    width: 120px;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
}

.deleteBtn{
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: rgb(236, 131, 61);
    color: white;

    cursor: pointer;
    transition: all 0.3s ease;
}

.deleteBtn:hover{
    background-color: rgb(219, 60, 60);
}

.controls{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}