
body{
    background-color: rgb(240, 242, 242);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(64, 73, 82);
}

#container {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.card{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    max-width: 450px;
    width: 100%;    

    background-color: rgb(212, 202, 198);
    border: 1px solid rgb(185, 207, 210);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}
.card .text {
    padding: 30px;
    flex: 1;
}
.card .image img{
    max-width: 120px;
    height: auto;
    border-radius: 10px;
}

form{
    margin: 30px;
    padding: 40px;
    width: 400px;
    border: 1px solid rgb(170, 189, 190);
    border-radius: 10px;
    background-color: rgb(218, 239, 241);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    gap: 10px;    
    align-items:flex-start;
    justify-content: flex-start;
}

input, select{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;
}

button{
    margin: 5px;
    padding: 10px;
    border: 1px solid lightseagreen;
    border-radius: 10px;
    background-color: lightseagreen;
}
button:hover{
    background-color: rgb(1, 173, 130);
}

.top-buttons{
    margin: 30px 0 0 30px;
}

.deleteBtn {
    background-color: rgb(244, 172, 144);
    border: 1px solid rgb(246, 124, 75);
}
.deleteBtn:hover {
    background-color: rgb(246, 124, 75);
}

.top-buttons button{
    margin: 30px 0 0 30px;
    background-color: lightgreen;
    border: 1px solid lightgreen;
}
.top-buttons button:hover{
    background-color: rgb(104, 232, 104);
}
/* these ones don't work yet */
#menu, #filterMenu{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 5px;
    gap: 5px;
}
#menu button, #filterMenu button{
    padding: 10px;
    background-color: rgb(196, 255, 196);
    border: 1px solid lightgreen;
    cursor: pointer;
}
#menu button:hover,
#filterMenu button:hover {
  background-color: lightgreen;
}

/**/