body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #383838;
    background-color: #f5f5f5;
}
.appName{
    display: flex;
    justify-content: flex-end;
    margin: 60px 60px 0 0;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#sidebar.expand ~ .appName{
    margin-left: 270px;
}

p{
    margin: 0;
    color: aliceblue;
}
nav{
    margin-left: 40px;
    transition: all 0.3s ease;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(43, 43, 43);
    padding: 10px;
}
#sidebar.expanded ~nav{
    margin-left: 250px;
}

#controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*custom dropdown*/
.dropdown-btn{
    padding: 10px;
    background-color: aliceblue;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
    width: 100px;
}
.dropdown-btn:hover{
    background-color: rgb(207, 240, 250);
}
.custom-dropdown:hover .dropdown-list{
    display: block;
}
.dropdown-list{
    display: none;
    position: absolute;
    background-color: rgba(141, 141, 141, 0.8);
    backdrop-filter: blur(2px);
    border-radius: 6px;
    width: 120px;
    z-index: 1000;
}
.dropdown-list .item{
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: rgb(255, 255, 255);
    font-size: 14px;
}
.dropdown-list .item:hover{
    background-color: rgba(82, 82, 82, 0.7);
    border-radius: 6px;
}
/**/

#clearBtn{
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: rgb(234, 252, 171);
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 14px;
    color: #383838;
}
#clearBtn:hover{
    background-color: rgb(255, 245, 98);
    transform: translateY(-1px);
}

#logoutBtn{
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(216, 216, 216, 0.1);
    transition: all 0.3s ease;
    background-color: #2796ff;
    color: white;
}
#logoutBtn:hover{
    background-color: #27bbff;
    box-shadow: 0 4px 6px rgba(216, 216, 216, 0.25);
    transform: translateY(-1px);
}

/*sidebar*/
#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 100vh;
    background-color: rgb(169, 225, 226);
    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
#sidebar.expanded{
    width: 250px;
}

#toggleSidebar{
    border: none;
    background-color: transparent;
    color: #383838;
    font-size: 18px;
    cursor: pointer;
}

#fleetForm{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-10px);

    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    transition: all 0.1s ease;
}
#sidebar.expanded #fleetForm{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

#sidebar img{
    width: 20px;
}
/**/

input{
    padding: 10px;
    border: none;
    border-radius: 6px;
}
input:focus{
    outline: none;
}

#addBtn{
    padding: 10px 20px;
    background-color: rgb(252, 242, 100);
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(119, 44, 0, 0.1);
    transition: all 0.3s ease;
    color: #383838;
}
#addBtn:hover{
    background-color: rgb(221, 252, 135);
    box-shadow: 0 8px 12px rgba(119, 44, 0, 0.2);
    transform: translateY(-1px);
}

/*container card*/
#container{
    margin-left: 40px;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    transition: all 0.3s ease;
    gap: 40px;
}

#sidebar.expanded ~ #container{
    margin-left: 250px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.card h2{
    margin: 0;
}
.card p{
    color: #383838;
}
.card img{
    width: 200px;
    border-radius: 6px;
}
.card button{
    padding: 5px 10px;
    background-color: rgb(101, 198, 243);
    border: none;
    border-radius: 6px;
    color: white;
    width: 200px;
    transition: all 0.3s ease;
}
.card button:hover{
    background-color: rgb(69, 174, 223);
}

.card .deleteBtn{
    background-color: coral;
    transition: all 0.3s ease;
}
.card .deleteBtn:hover{
    background-color: rgb(253, 75, 75);
}
.card .label{
    font-weight: bold;
}